# This configuration is for testing the effects of a smaller learning rate
# on the Paragraph Selector. The corresponding learning curve is
# models/performance/PS_losses_small_lr.png

# each data point contains 10 paragraphs (= 10 training examples)
dataset_size    1250
test_split      0.20
shuffle_seed    42
# limits paragraph length in order to reduce complexity
text_length     250

epochs          1
batch_size      4
# default is 1e-4
learning_rate   1e-5

#training_data_rel_path  '../data/hotpot_train_v1.1.json'
#model_rel_path          '/models/paragraphSelector_wBERTgrad.pt'
#losses_rel_path         '/models/performance/PS_losses_wBERTgrad.txt'
#performance_rel_path    '/models/performance/results_wBERTgrad.txt'

data_abs_path           '/local/simonp/data/hotpot_train_v1.1.json'

model_abs_dir           '/local/simonp/AQA/data_in_QA/models/'
losses_rel_path         '../data_in_QA/models/performance/PS_checkup_wBERTgrad.txt'
predictions_rel_path    '../data_in_QA/models/performance/outputs.txt'
performance_rel_path    '../data_in_QA/models/performance/results_PS_checkup_wBERTgrad.txt'


